.thread-list {
  list-style: none;
}

.thread-list-item {
  border: 1px solid var(--color-zink-400);
  border-radius: 16px;
  padding: 8px 16px;
  position: relative;
  transition: border-color 0.25s linear, transform 0.1s ease-in-out;
}

.thread-list-item:hover {
  border-color: var(--color-fuchsia-500);
  transform: translateY(2px);
}

.thread-list-item + .thread-list-item {
  margin-top: 8px;
}

.thread-list-item--title {
  margin-bottom: 8px;
  font-size: 24px;
}

.thread-list-item--link {
  color: black;
  text-decoration: none;
}

.thread-list-item--link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.thread-list-item--body {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  font-size: 16px;
}
