.comment-list {
  list-style: none;
  padding-inline: 0;
}

.comment {
  border: 1px solid var(--color-zink-400);
  border-radius: 16px;
  padding: 8px 16px;
}

.comment + .comment {
  margin-top: 8px;
}

.comment--header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.comment--owner {
  font-size: 14px;
  font-weight: 500;
}

.comment--avatar {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  overflow: hidden;
}

.comment--footer {
  margin-top: 8px;
}

.new-comment--button-group {
  margin-top: 8px;
}
