.search-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 8px;
}

.search-input--label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-input--icon {
  width: 20px;
  height: 20px;
  color: var(--text-color);
}
