@import "../base.css";

.thread-card-list-empty {
  text-align: center;
}

.thread-card-list {
  list-style: none;
  padding-inline: 0;
}

.thread-card {
  @mixin primary-surface;

  padding: 8px 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0px 8px 16px -8px var(--color-fuchsia-700);
  }

  &:active {
    box-shadow: 0px 8px 16px -4px var(--color-fuchsia-700);
  }

  & + .thread-card {
    margin-top: 8px;
  }
}

.thread-card--header {
  display: flex;
  direction: row;
  align-items: center;
  gap: 8px;
  margin-bottom: 4px;
}

.thread-card--title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 4px;
}

.thread-card--category {
  margin-bottom: 8px;
}

.thread-card--link {
  color: var(--text-color);
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.thread-card--created-date {
  font-size: 14px;
  display: block;
}

.thread-card--body {
  font-size: 16px;
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.thread-card--footer {
  margin-top: 8px;
  
  & button {
    z-index: 100;
  }
}
