@import "../base.css";

.top-bar {
  border-bottom: 1px solid;
  @mixin surface;

  position: sticky;
  top: 0;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 8px;
  column-gap: 16px;
  z-index: 1000;
}

.top-bar--title {
  font-family: "Montserrat Variable", sans-serif;
  font-size: 18px;
}

.top-bar--avatar-button {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: 3px;
}

.top-bar--avatar-header {
  border-radius: 100%;
}

.top-bar--grow {
  flex-grow: 1;
}

.top-bar-tabs {
  list-style-type: none;
  margin-inline: 0;
  padding-inline: 0;
  display: flex;
}

.top-bar-tabs--item {
}

.top-bar-tabs--item-link {
  @mixin transparent-button;

  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 16px;
  color: var(--text-color);
  padding: 8px 16px;
}

.top-bar-tabs--item-link--active {
  background-color: var(--color-fuchsia-300);

  &:hover {
    background-color: var(--color-fuchsia-500);
  }

  @mixin dark-theme {
    background-color: var(--color-fuchsia-500);

    &:hover {
      background-color: var(--color-fuchsia-700);
    }
  }
}
