.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.user-info--name {
  font-size: 14px;
  font-weight: 500;
}

.user-info--avatar {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  overflow: hidden;
}
